/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-sep-2015, 11:42:49
    Author     : minutti
*/
h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
    color:#8CD4BA;
    opacity: 0.7;
}
body{
    background-color: gray;
    background-image: url('../imagenes/fondo.jpg');
    
}
/* unvisited link */
a:link {
    color: #FF0000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: #0000FF;
}

div{
    border-radius: 5px;
}

div.scroll{
    overflow: scroll;
    height: 200px;
    width: 300px;
    
}
#principal{ 
    background-color: white;
    text-align: center;
    width: 800px; 
    height: 500px;  
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 5px 5px #8CD4BA;
    opacity: 0.2;
}
#navegacion{ 
    font-family: 'Raleway', sans-serif;
    position: absolute; 
    border: 3px solid gray;  
    top: 30px; 
    left:30px; 
    margin: 0 auto;
    opacity: 1.0;
    font-size: 1.5em;
}
#playback{
    position: absolute;
    top: 300px;
    left: 510px;
    border: 3px solid gray; 
}
#contenido{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    top: 30px;
    right: 30px;
    width: 300px; 
    border: 3px solid gray;
    position: absolute;
    margin: 0 auto;
    
    font-size: 1.5em;
}

#portada{
    border: 3px solid gray;
    left: 30px;
    bottom: 30px;
    width: 300px;
    height: 200px;
    position: absolute;
    
    
}

img{
    
}

